:root {
    --font-size: 1vw;
    --color-red: #bb1b47;
    --color-blue: #0077d9;
    --color-white: #ffffff;
}

html {
    font-family : 'lucida grande', 'lucida sans unicode', 'lucida sans', Geneva, Verdana, sans-serif;
    font-size: calc(var(--font-size) + 0.5rem);
    line-height: 1.4;
}

nav {
    text-align: center;
    margin-bottom: 2rem;
}

nav ul::before {
    content: "\1f34d";
    font-size: 2rem;
}

nav ul {
    display: flex;
    padding-left: 0%;
    width: calc(60% + 30px);
    justify-content: space-around;
    gap: 3rem;
    padding: 1.5rem 0;
    list-style-type: none;
    margin: 0 auto;
}

h1,h2,h3 {
    color: var(--color-red);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
    
    font-size: calc(var(--font-size) * 4 + 2rem);
    font-weight: bold;
    color: transparent;
    background: linear-gradient(90deg, var(--color-red), var(--color-blue));
    background-clip: text;
}

h2{
    font-size: calc(var(--font-size) * 3 + .5rem);
    color: transparent;
    background: linear-gradient(90deg, var(--color-red), var(--color-blue));
    background-clip: text;
}

h3{
    font-size:1.5rem;
    color: transparent;
    background: linear-gradient(90deg, var(--color-red), var(--color-blue));
    background-clip: text;
}

site-intro{
    font-size:1.25rem;
}

nav a {
    color: var(--color-blue);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bold;
    text-decoration:none;
}

nav a:hover {
    text-decoration:wavy underline;
    text-underline-offset:.2rem;
    text-decoration-thickness:.1rem;
    color:#2f7bff;
}

nav a:visited {
    color:#770fbc;
}

h2::before {
    content: "\1f34d";
    font-size: 3rem;
}

h3::before {
    content: "\1f34d";
    font-size: 2rem;
}

.signif-design li {
    list-style-type: "\1f34d"
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0 auto;
}

main {
    width: calc(60% + 30px);
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 3rem;
}

img {
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
}

footer {
    font-size: 0.875rem;
    color: gray;
    line-height: 1.1;
}