/*
    font-family: 'cookie', cursive;
    font-family: lato, sans-serif;
*/

html {
    box-sizing: border-box;
    font-family: 'lato', sans-serif;
    font-size: 1.20rem;
    line-height: 125%;
    color: #50504f;

}

*, 
* ::before, 
* ::after {
    box-sizing: inherit;
}

nav {
    background-color: #a37329;
    text-align: center;
}

nav li {
    display: inline;
}

nav a {
   padding: 20px;
   display: inline-block;
   color:white;
   text-decoration: none;
   text-transform: uppercase;
   letter-spacing: 1px;
}

nav a:link,
nav a:visited {
    background-color: #a37329;
    color: white;
}

nav a:hover,
nav a:active {
    background-color: #7c5420;
    color: white;
    text-decoration: underline;
}

main {
    width: 80%;
    margin: 0 auto;
}

h1, h2, h3 {
    font-family: 'cookie', cursive;
    color: #3c3124;
}

h1 {
    font-size: 4rem;
    text-align: center;
    margin: 6% 0;
    text-shadow: 3px 5px 3px #ccc
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid #ccc;
    padding-bottom: 0.5rem;
}

header{
    margin: 10%;
}

img {
    float: left;
    max-width: 30%;
    margin-left: 4rem;
    margin-right: 4rem;
    border-radius: 50%;
    box-shadow: 3px 5px 3px #ccc;
    shape-outside: circle(50%);
}

header h2 {
    margin-top: 1%;
}

.rate {
    clear: both;
    margin-top: 6%;
    text-align: center;
    font-size: 1.2rem;
}

.emoji::after {
    content: "\1f370";
}

.details, .ingredients, .instructions, .nutrition {
    width: 40%;
    float: left;
}

.details, .ingredients {
    margin-right: 10%;
}

.instructions, .nutrition {
    margin-right: 10%;
}

blockquote {
    clear: both;
    width: 300px;
    height: 300px;
    padding: 78px 16px 20px 16px;
    border-radius: 50%;
    background-color: #a37329;
    outline: dotted 6px #a37329;
    font-family: 'cookie', cursive;
    font-size: 1.5rem;
    text-align: center;
    margin: 40px auto;
    color: white;
}

blockquote small {
    text-align: right;
}


footer {
    background-color: #a37329;
    color: white;
    padding: 2% 0;
    margin-top: 10px;
}

footer a {
    display: block;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

footer ul {
    list-style-type: none;
}

.col1, .col2, .col3 {
    display: block;
    float: left;
    width: 33%;
}

footer p {
    clear: both;
}

/* media queries go below */



@media (max-width: 811px) {

    html {
        font-size: 1.1rem;
        line-height: 130%;
    }
    main {
        width: 90%;
        
    }

    h1 {
        font-size: 2.8rem;
        color:#67440f;
        text-shadow: 3px 3px 6px #ccc;
    }
    h2 {
        font-size: 1.9rem;
        color: #67440f;
    }

    img {
        float: none;
        display: block;
        margin: 0 auto 2rem auto;
        max-width: 50%;

    }

    .details, .ingredients, .instructions, .nutrition {
        font-size: 1rem;
        float: none;
        width: 90%;

    }

    blockquote {
        width: 280px;
        height: 280px;
        padding: 70px 15px 15px 15px;
        font-size: 1.7rem;
    }

    footer {
        font-size: 0.8rem;
    }

    .col1, .col2, .col3 {
        width: 90%;
        display: block;
        float: none;
    }
}


@media (max-width: 360px) {
    html {
        line-height: 135%;

    }

    nav a {
        padding: 5px;
        letter-spacing: normal;
        font-size: 0.9rem;
    }

    nav ul {
        padding-left: 10px;
    }

    main {
        width: 90%;
    }

    h1 {
        font-size: 1.5rem;
        text-shadow: none;
    }

    h2 {
        font-size: 1.5rem;
    }

    img {
        max-width: 60%;
    }

    .rate {
        font-size: 1rem;
    }

    .details, .ingredients, .instructions, .nutrition {
        width: 90%;
        float: none;
    }

    blockquote {
        width: 250px;
        height: 250px;
        padding: 60px 10px 10px 10px;
        font-size: 1.4rem;
    }

    footer {
        font-size: 0.8rem;
    }

    .col1, .col2, .col3 {
        width: 90%;
        display: block;
        float: none;
    }
}




  

